
@{
    ViewData["Title"] = "Hello";
}

<form action="/hello/sayHello" method="post">
	<label for="Name">Name</label>
	<input type="text" name="Name" />
	<input type="submit" name="submit" />
</form>

