<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="fileDistributorSection" type="FileDidtributor.Configuration.FileDistributorConfigurationSection, FileDistributor" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<fileDistributorSection culture="en-US">
		<directories>
			<directory path="D:\downloads"/>
		</directories>
		<destinations defaultDirectory="D:\trash">
			<destination searchPattern="*.txt" destinationFolder="D:\txtFiles"/>
			<destination searchPattern="*.docx" destinationFolder="D:\docxFiles" addDate="true"/>
		</destinations>
	</fileDistributorSection>
</configuration>